<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehl.tsq.data.infrastructure.persistence.mapper.CsglDtsjJcyjSjxxMapper" >
  <resultMap id="BaseResultMap" type="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxx" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="street_code" property="streetCode" jdbcType="VARCHAR" />
    <result column="roadSection" property="roadsection" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="x" property="x" jdbcType="DOUBLE" />
    <result column="y" property="y" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="typeDesc" property="typedesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="pictureUrl" property="pictureurl" jdbcType="VARCHAR" />
    <result column="warningTime" property="warningtime" jdbcType="TIMESTAMP" />
    <result column="isTrue" property="istrue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, street, street_code, roadSection, address, content, x, y, type, typeDesc, status, 
    pictureUrl, warningTime, isTrue
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dws_csgl_dtsj_jcyj_sjxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxxExample" >
    delete from t_dws_csgl_dtsj_jcyj_sjxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxx" useGeneratedKeys="true" keyProperty="id" >
    insert into t_dws_csgl_dtsj_jcyj_sjxx (street, street_code, roadSection, 
      address, content, x, 
      y, type, typeDesc, status, 
      pictureUrl, warningTime, isTrue
      )
    values (#{street,jdbcType=VARCHAR}, #{streetCode,jdbcType=VARCHAR}, #{roadsection,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{x,jdbcType=DOUBLE}, 
      #{y,jdbcType=DOUBLE}, #{type,jdbcType=VARCHAR}, #{typedesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{pictureurl,jdbcType=VARCHAR}, #{warningtime,jdbcType=TIMESTAMP}, #{istrue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxx" useGeneratedKeys="true" keyProperty="id" >
    insert into t_dws_csgl_dtsj_jcyj_sjxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="street != null" >
        street,
      </if>
      <if test="streetCode != null" >
        street_code,
      </if>
      <if test="roadsection != null" >
        roadSection,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typedesc != null" >
        typeDesc,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="pictureurl != null" >
        pictureUrl,
      </if>
      <if test="warningtime != null" >
        warningTime,
      </if>
      <if test="istrue != null" >
        isTrue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="streetCode != null" >
        #{streetCode,jdbcType=VARCHAR},
      </if>
      <if test="roadsection != null" >
        #{roadsection,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        #{x,jdbcType=DOUBLE},
      </if>
      <if test="y != null" >
        #{y,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typedesc != null" >
        #{typedesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null" >
        #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="warningtime != null" >
        #{warningtime,jdbcType=TIMESTAMP},
      </if>
      <if test="istrue != null" >
        #{istrue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ehl.tsq.data.infrastructure.persistence.po.CsglDtsjJcyjSjxxExample" resultType="java.lang.Integer" >
    select count(*) from t_dws_csgl_dtsj_jcyj_sjxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dws_csgl_dtsj_jcyj_sjxx
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.streetCode != null" >
        street_code = #{record.streetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roadsection != null" >
        roadSection = #{record.roadsection,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.x != null" >
        x = #{record.x,jdbcType=DOUBLE},
      </if>
      <if test="record.y != null" >
        y = #{record.y,jdbcType=DOUBLE},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.typedesc != null" >
        typeDesc = #{record.typedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureurl != null" >
        pictureUrl = #{record.pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="record.warningtime != null" >
        warningTime = #{record.warningtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.istrue != null" >
        isTrue = #{record.istrue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dws_csgl_dtsj_jcyj_sjxx
    set id = #{record.id,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR},
      street_code = #{record.streetCode,jdbcType=VARCHAR},
      roadSection = #{record.roadsection,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      x = #{record.x,jdbcType=DOUBLE},
      y = #{record.y,jdbcType=DOUBLE},
      type = #{record.type,jdbcType=VARCHAR},
      typeDesc = #{record.typedesc,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      pictureUrl = #{record.pictureurl,jdbcType=VARCHAR},
      warningTime = #{record.warningtime,jdbcType=TIMESTAMP},
      isTrue = #{record.istrue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectGroupByType" resultType="com.ehl.tsq.data.business.service.statCityManager.StatCMCaseResultVo">
    select count(1) as count, type,typeDesc as typeDes
    from t_dws_csgl_dtsj_jcyj_sjxx
    <if test="startTime != null" >
      where warningTime > #{startTime,jdbcType=TIMESTAMP}
      and  #{endTime,jdbcType=TIMESTAMP} > warningTime
    </if>
    GROUP by type
    order by count DESC;
  </select>
  <select id="selectGroupByStreet" resultType="com.ehl.tsq.data.business.service.statCityManager.StatCMCaseResultVo">
    select count(1) as count, street_code as type,street as typeDesc
    from t_dws_csgl_dtsj_jcyj_sjxx
    <if test="startTime != null" >
      where warningTime > #{startTime,jdbcType=TIMESTAMP}
      and  #{endTime,jdbcType=TIMESTAMP} > warningTime
    </if>
    GROUP by street;
  </select>
</mapper>